@font-face {font-family: 'Tinos';font-weight:bold;font-style:normal;src: url("XaraWDGeneratedHTMLfont14.woff") format("woff");}
@font-face {font-family: 'Tinos';font-weight:bold;font-style:normal;src: url("XaraWDGeneratedHTMLfont15.woff") format("woff");}
